@font-face {
    font-family: "Nexa-Bold";
    src: url("../resources/fonts/Nexa-Bold.otf")
}

@font-face {
    font-family: "Helvetica";
    src: url("../resources/fonts/Helvetica.ttc")
}

html, body, .container {
    height: 100%;
    font-family: "Nexa-Bold"
}

.title-row {
    height: 20%;
}

.title-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    border-bottom: 3px solid #C63212;
    padding-bottom: 2px;   
    font-family: "Nexa-Bold";
}

#map {
    height: 100%;
    width: 100%;
}

.row-location {
    margin-top: 15px;
    height: 5%;
}

.row-location h3 {
    margin: 0;
}

.align-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    color: white;
    background-color: #C63212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

th {
    background-color: #C63212;
    color: black;
} 

@media (max-width: 1200px) {
    .title {
            font-size: 1.8rem;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    
    .title-row {
        height: 10%;
    }
}

@media (max-width: 576px) {
    .table-container {
        padding: 0;
    }
}


